<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>HTML5 Toddo login</title>
    </head>
    <body>
        <form id='register' action='/login' method='post' accept-charset='UTF-8'>
            <fieldset >
                <legend>Register</legend>
                <input type='hidden' name='submitted' id='submitted' value='1'/>
                <label for='username' >UserName :</label></br>
                <input type='text' name='username' id='username' maxlength="50" /></br>
                <label for='password' >Password :</label></br>
                <input type='password' name='password' id='password' maxlength="50" /></br>
                <input type='submit' name='Submit' value='登陆' /></br>
            </fieldset>
        </form>
    </body>
</html>
