#head-top {
position: relative;
width: 290px;
height: 14px;
}
#welcome {
font-size: 12px;
font-weight: bold;
position: absolute;
left: 5px;
bottom: 0px;
}
/*.count,.save{
    visibility:hidden;
}
    */
#top-links {
float: right;
position: absolute;
right: 0px;
bottom: 0px;
}

fieldset { 
        border-width: 1px 0 0 0;
}

/*#top-status {padding:100%;}*/
body { background: #0f0f0f; font-family: Tahoma, sans-serif; font-size: 12px; }
header, section, footer { display: block; }
#container { background-color: #eee; margin: 50px auto; width: 300px; border: 4px solid #222; }
header h1 { text-align: center; margin: 0; padding: 15px 0;}
label { display: block; padding-bottom: 5px; text-align: center; }
#ajaxstatus{ background-color: red; font-size: 9px; text-align:center;}
#task { border: 1px solid #888; margin-left: 50px; width: 200px; }
.list { margin: 10px; padding: 0; }
.list li { list-style-type: none; padding: 5px; }
.list li:nth-child(2n) { background-color: #e8e8e8; }
.list li:nth-child(2n+1) { background-color: #ddd; }
.list li:hover { background-color: #ccc;}
/*.list li a { color: red; display: block; float: right; text-decoration: none; } */
.finished {text-decoration: line-through;}
footer { background-color: #000; color: #aaa; padding: 20px; }
footer a { color: #aaa; }
footer a:hover { color: #eee; }
.todo-remove {
    right: 0;
    top: 12px;
    float:right;
        }

.todo-remove-icon {
    background: url(/public/img/remove.png) no-repeat;
    display: block;
    height: 16px;
    opacity: 0.6;
    visibility: hidden;
    width: 23px;
    text-indent:10000px;
}

.todo-remove:hover { opacity: 1.0; }
.todo-hover .todo-remove-icon,.todo-remove:focus .todo-remove-icon { visibility: visible; }
.editing .todo-remove-icon { visibility: hidden; }
